<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.geniusgithub.dialer"
          xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- <uses-permission android:name="android.permission.ADD_VOICEMAIL"/> -->
    <uses-permission android:name="android.permission.USE_SIP"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <!-- <uses-permission android:name="android.permission.SEND_SMS"/> -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_SMS"/> -->
    <!-- <uses-permission android:name="android.permission.READ_SMS"/> -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH"/> -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_MMS"/> -->
    <!-- <uses-permission android:name="android.permission.READ_CELL_BROADCASTS"/> -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.READ_BLOCKED_NUMBERS"/>
    <uses-permission android:name="android.permission.WRITE_BLOCKED_NUMBERS"/>
    <!-- <uses-permission android:name="android.permission.READ_CALENDAR"/> -->
    <!-- <uses-permission android:name="android.permission.WRITE_CALENDAR"/> -->
    <!-- ANDROID.PERMISSION-GROUP.SENSORS -->
    <!-- <uses-permission android:name="android.permission.RECORD_AUDIO"/> -->
    <!-- ANDROID.PERMISSION-GROUP.SENSORS -->
    <!-- <uses-permission android:name="android.permission.BODY_SENSORS"/> -->
    <!-- ANDROID.PERMISSION-GROUP.STORAGE -->
    <!-- <uses-permission android:name="android.permission.CAMERA"/> -->

   <uses-permission android:name="com.android.voicemail.permission.WRITE_VOICEMAIL" />
   <uses-permission android:name="com.android.voicemail.permission.READ_VOICEMAIL" />
   <application
       android:allowBackup="true"
       android:icon="@mipmap/ic_launcher"
       android:label="@string/app_name"
       android:supportsRtl="true"
       android:theme="@style/AppTheme" >


       <activity android:name=".StartupActivity">
<!--            <intent-filter>
               <action android:name="android.intent.action.MAIN"/>

               <category android:name="android.intent.category.DEFAULT"/>
               <category android:name="android.intent.category.LAUNCHER"/>
               <category android:name="android.intent.category.BROWSABLE"/>
           </intent-filter>-->
        </activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

        <activity android:name=".RequestPermissionsActivity">
        </activity>

        <activity android:name=".sim.SimActivity"     android:label="Sim">
        </activity>


        <activity android:name=".emergency.EmergencyActivity"     android:label="Emergency">
        </activity>

        <activity android:name=".ims.IMSActivity"     android:label="IMS">
        </activity>

        <activity android:name=".notify.NotifyActivity"     android:label="Notify">
            <intent-filter>
                <action android:name="com.geniusgithub.dialer.notify" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".contact.ContactUnitActivity"     android:label="ContactUnit">
        </activity>

        <activity android:name=".calllog.CallLogActivity"     android:label="CallLog">
        </activity>

        <activity android:name=".vvm.VisualVoicamailActivity"     android:label="VVM">
        </activity>


        <activity android:name=".dialpad.DialerActivity"     android:label="Dialer"
                  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout">
        </activity>

        <activity android:name=".blockednumber.BlockedNumbersActivity"     android:label="BlockNumber"
                  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout">
        </activity>


       <activity android:name=".incall.InCallActivity"     android:label="InCall">
       </activity>

       <activity android:name=".telecom.TelecomActivity"     android:label="Telecom">
       </activity>


       <service
            android:name=".notify.MyNotifyService"
            android:directBootAware="true"
            android:exported="false"
            />


    </application>

</manifest>